header{
    background-color: black;
    height: 200px;
}
header h1{
    color: whitesmoke;
    margin-left: 100px;
    
}

main div.form{
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: aquamarine;
    position: absolute;

}